<div id="<%= dom_id inventory %>">
  <p>
    <strong>Inventoryid:</strong>
    <%= inventory.inventoryId %>
  </p>

  <p>
    <strong>Vehicleid:</strong>
    <%= inventory.vehicleId %>
  </p>

  <p>
    <strong>Manufactorid:</strong>
    <%= inventory.manufactorId %>
  </p>

</div>
