<div id="<%= dom_id manufactor %>">
  <p>
    <strong>Manufactorid:</strong>
    <%= manufactor.manufactorId %>
  </p>

  <p>
    <strong>Manufactor:</strong>
    <%= manufactor.manufactor %>
  </p>

</div>
