<% content_for :title, "Editing manufactor" %>

<h1>Editing manufactor</h1>

<%= render "form", manufactor: @manufactor %>

<br>

<div>
  <%= link_to "Show this manufactor", @manufactor %> |
  <%= link_to "Back to manufactors", manufactors_path %>
</div>
